<div class="publications">
  <h2>selected publications [<a href="publications">full list</a>]</h2>
  <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Majority of work done by MAIL/SAIL members!">
    <abbr class="badge bg-danger"><i class="bi bi-check2"></i></abbr> <i>Majority of work done by MAIL/SAIL members!</i>
  </div>
  <br />
  <br />
  {% bibliography -f papers -q @*[selected=true]* %}
  
  <div>
    <a class="btn btn-sm" role="button" style="color: black; border: 1px solid black; font-style: normal; padding: 0.0rem 0.0rem 0.0rem 0.0rem;">Submission History</a> shows the venues where the work has been submitted (🙃 including <strong>rejections</strong> 🙃). I hope some of my poor rejection/failure histories (record now is 10 rejections 😅) give you some encouragement to try again when things don't work out (don't give up -- good work doesn't need to be rushed)!
  </div>
</div>
